.copy-url {
    padding: 10px;
    background-color: rgba(20, 170, 20, 0.146);
    border-radius: 10px;
    border: 2px dashed green;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
        background-color: transparent;
        border: none;
    }

    svg {
        padding: 10px;
        &:hover {
            cursor: pointer;
            background-color: rgba(0, 128, 0, 0.393);
            border-radius: 50%;
            padding: 10px;
        }
    }
}

.helper-text {
    font-size: 0.8em;
    font-weight: 600;
}